@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer base {
  #root {
    height: 100%;
  }

  html,
  body {
    height: 100%;
    user-select: none;
    background: transparent;
    font-family:
      ui-monospace, SFMono-Regular, 'SF Mono', Consolas, 'Liberation Mono', Menlo, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;

    /* 明暗主题文字颜色 */
    color: #111827;
  }

  html.dark,
  html.dark body {
    color: white;
  }

  header {
    -webkit-app-region: drag;
  }

  button {
    -webkit-app-region: no-drag;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
    background-color: #9ca3af;
  }

  html.dark ::-webkit-scrollbar-thumb {
    background-color: #555;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}
